@model IEnumerable<APPDATA.Models.Slider>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SliderImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SliderStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SliderImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SliderStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SliderID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SliderID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SliderID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
